<launch>
    
    <!-- define arguments -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false" />
    <arg name="verbose" default="true" />

    <!-- startup simulated WORLD -->
    <include file="$(find cbf_rl_train)/launch/empty_world.launch">
        <arg name="world_name" value="$(find cbf_rl_train)/world/cbfrl.world"/>
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
    </include>

    <!-- Husky -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>
    
    <include file="$(find cbf_rl_train)/launch/spawn_husky.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>


    <!-- RQT-Console -->
    <!-- <node pkg="rqt_console" type="rqt_console" name="rqt_console" output="screen" /> -->

    <!-- Dummy Trainer -->
    <node pkg="cbf_rl_train" type="model_test.py" name="dummy_trainer" output="screen" />
    
    <!-- Trajectory -->
    <!-- <node pkg="cbf_rl_train" type="trajectory.py" name="robot_trajectory" output="screen"/> -->

    <!-- Controller -->
    <node pkg="cbf_rl_train" type="nmpc_cbf_train_node.py" name="robot_nmpc_cbf_node" output="screen" />

    <!-- Manager -->
    <!-- <node pkg="cbf_rl_train" type="nmpc_cbf_manager.py" name="manager" output="screen" />   -->

    <!-- GUI -->
    <!-- <node pkg="cbf_rl_train" type="gui_info.py" name="gui_info" output="screen" /> -->
    <!-- Plotting -->
    <!-- <node pkg="cbf_rl_train" type="plot_tracking.py" name="robot_plotting_node" output="screen" /> -->

</launch>
